:root {
    --blue: #0061ff;
    --grey: rgb(202, 202, 202);
    
    --spaceXS: 10px;
    --spaceS: 20px;
    --spaceM: 35px;
    --spaceL: 40px;
    --spaceXL: 130px
}


/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* generics  */

body {
    
    /* background-color: red; */
    font-family: 'Open Sans', sans-serif;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* utils */

.btn {
    background-color: var(--blue);
    padding: 8px 16px;
    color: white;
}

.btn.btn-large {
    padding: 12px 20px;
}

.btn-extra-large {
    padding: 12px 35px;
    
}


.container-large {
    width: 63%;
    margin: 0 auto;
}

.container-medium {
    width: 53%;
    margin: 0 auto;
}

/* header */


header {
    height: 80px;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 5px grey;
    font-size: 16px;
    z-index: 1;
}



header img {
    margin-right: var(--spaceM);
    vertical-align: middle;
}

header ul {
    display: flex;
    gap: var(--spaceM);
    align-items: center;
}

header a {
    color: black;
    text-decoration: none;
}



.header-nav-left {
    display: flex;
    padding-left: var(--spaceS);
}

.header-nav-right {
    padding-right: var(--spaceS);
}

/* jumbo */

.jumbo {
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
}

.jumbo-container {
    padding-top: 160px;
}

.jumbo h1 {
    font-size: 75px;
    font-weight: 800;
}

.jumbo-row {
    display: flex;
}

.jumbo-col {
    flex-basis: 30%;
}

.jumbo-col {
    margin-top: 15px;
}

.jumbo-col > * {
    margin: var(--spaceL) 0;
    line-height: 1.5;
}

.jumbo-col i {
    margin: 0;
    font-size: 50px;
}




#jumbo-img {
    width: 800px;
    position: relative;
    top: 60px;
}


/* business plan */

.business-plan {
    margin-top: 130px;
}

.business-plan h2 {
    font-size: 40px;
    margin-bottom: 60px;
}

.circle {
    display: inline-block;
    border: 2px solid var(--grey);
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}


.circle.checked {
    border: 4px solid var(--blue);
}


.business-plan-checkbox {
    display: inline-block;
    margin-right: var(--spaceL);
}

/* business-plan row */

.business-plan-row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.business-plan-col {
    margin-top: var(--spaceL);
    flex-basis: calc(100% / 3 - 80px / 3);
    border: 1px solid var(--grey);
    font-size: 14px;
}

.business-plan-option {
    text-align: center;
    padding: var(--spaceXS) 0;
    border-bottom: 1px solid var(--grey);
    
}

/* business-plan card */

.business-plan-card {
    padding: 0 var(--spaceM);
    /* border: 1px solid var(--grey); */
    
}

/* distanziamento tra i div */
.business-plan-card > * {
    margin: var(--spaceM) 0;
}

/* distanziamento tra gli elementi */

.business-plan-card-info > *, .business-plan-card-header > * {
    margin: var(--spaceS) 0;
}

/* business plan card header */

.business-plan-card-header h3 {
    
    font-size: 24px;
}

.business-plan-card-header p:nth-of-type(1) {
    font-weight: bold;
}

.business-plan-card-header p:nth-of-type(2) {
    color: rgba(0, 0, 0, 0.685);
}

/* .business plan card info */



.business-plan i {
    margin-right: 8px;
}

/* .business plan card button */

.business-plan-card-button {
    padding: 30px 0 10px 0;
}

/* business plan card link */

.business-plan-card-link a {
    text-decoration: underline;
}

.business-plan-card-link a:visited {
    text-decoration: underline;
    color: blue;
}

/* separator */

.business-plan .separator {
    border-bottom: 1px solid var(--grey);
    height: 1px;
    width: 20%;
}


/* business-plan list */

.business-plan-list ul {
    padding-bottom: var(--spaceXS);
}

.business-plan-list li {
    margin: var(--spaceS) 0;
    padding-right: var(--spaceS);
}

.fa-check.check-blue {
    color: var(--blue);
    font-size: 18px;
}

/* 4th col */

.business-plan-col.business-plane-large-col {
    flex-basis: 100%;
}

.business-plane-large-col .business-plan-card {
    display: flex;
}

.business-plane-large-col .business-plan-card-header {
    /* margin: 0; */
    margin-bottom: 30px;
    flex-basis: 70%;
}

.business-plane-large-col h3 {
    margin: 0;
    
}




.business-plane-large-col .business-plan-card-button {
    text-align: right;
    flex-grow: 1;
}


.space {
    margin-top: 100px;
}