:root {
    --blue: #0061ff;
    --grey: rgb(202, 202, 202);
    
    --spaceXS: 10px;
    --spaceS: 20px;
    --spaceM: 35px;
    --spaceL: 40px;
    --spaceXL: 80px
}


/* css reset */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generics  */


body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

main section {
    padding: var(--spaceXL) 0;
}

main h2 {
    font-size: 40px;
    margin-bottom: 60px;
}

img {
    display: block;
}


/* fine generics  */


/* utils */


/* btn */


.btn {
    padding: 12px 20px;
    display: inline-block;
}

.btn-small {
    padding: 8px 16px;
}

.btn-extra-large {
    width: 100%;
    text-align: center;
}

.btn-blue {
    color: white;
    background-color: var(--blue);
}


/* container */


.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1000px;
    margin: 0 auto;
}


/* separator */


.separator {
    border-bottom: 1px solid var(--grey);
    height: 1px;
    width: 20%;
}


/* fine utils */


/* header */


header {
    height: 80px;
    background-color: white;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 5px grey;
    font-size: 16px;
    z-index: 1;
}


header ul {
    display: flex;
    gap: var(--spaceM);
    align-items: center;
}

header a {
    color: black;
    text-decoration: none;
}

.header-nav-left {
    display: flex;
    padding-left: var(--spaceS);
}

.header-nav-right {
    padding-right: var(--spaceS);
}


/* fine header */


/* jumbo */


.jumbo {
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
}

.jumbo-container {
    padding-top: 80px;
}

.jumbo h1 {
    font-size: 75px;
    font-weight: 800;
}

.jumbo-row {
    display: flex;
    position: relative;
    top: 60px;
}

.jumbo-col {
    flex-basis: 30%;
}


.jumbo-col > * {
    margin-bottom: 25px;
}

.jumbo-col i {
    margin-top: 50px;
    font-size: 50px;
}

#jumbo-img {
    width: 800px;
}

/*  fine jumbo */


/* business plan */


.business-plan {
    margin-top: 50px;
}

.circle {
    display: inline-block;
    border: 2px solid var(--grey);
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.circle.checked {
    border: 4px solid var(--blue);
}

.business-plan-checkbox {
    display: inline-block;
    margin-right: var(--spaceL);
    font-size: 14px;
}

/* business-plan row */

.business-plan-row {
    margin-top: var(--spaceL);
    display: flex;
    flex-wrap: wrap;
    gap: var(--spaceL);
}

.business-plan-col {
    flex-basis: calc(100% / 3 - 80px / 3);
    border: 1px solid var(--grey);
    font-size: 14px;
}

.business-plan-option {
    text-align: center;
    padding: var(--spaceXS) 0;
    border-bottom: 1px solid var(--grey);
}

/* business-plan card */

.business-plan-card {
    padding: 0 30px;
}

/* distanziamento tra i div */

.business-plan-card > * {
    margin: var(--spaceM) 0;
}

/* distanziamento tra gli elementi */

.business-plan-card-info > *, .business-plan-card-header > * {
    margin: var(--spaceS) 0;
}

/* business plan card header */

.business-plan-card-header h3 {
    font-size: 24px;
}

.business-plan-card-header p:nth-of-type(1) {
    font-weight: bold;
}

.business-plan-card-header p:nth-of-type(2) {
    color: rgba(0, 0, 0, 0.685);
}

/* .business plan card info */

.icon-text {
    display: flex;
    align-items: baseline;
}

.business-plan i {
    margin-right: 8px;
}

/* .business plan card button */

.business-plan-card-button {
    padding-top: 10px;
}

/* business plan card link */

.business-plan-card-link a {
    text-decoration: underline;
}

.business-plan-card-link a:visited {
    text-decoration: underline;
    color: blue;
}

/* business-plan list */

.business-plan-list ul {
    padding: var(--spaceXS) 0;
}

.business-plan-list li {
    margin: var(--spaceS) 0;
}

.fa-check.check-blue {
    color: var(--blue);
    font-size: 18px;
}

/* 4th col */

.business-plan-col.business-plan-large-col {
    flex-basis: 100%;
}

.business-plan-large-col .business-plan-card {
    display: flex;
}

.business-plan-large-col .business-plan-card-header {
    margin-bottom: 30px;
    flex-basis: 70%;
}

.business-plan-large-col h3 {
    margin: 0;
    
}

.business-plan-large-col p {
    padding-bottom: 30px;
}

.business-plan-large-col .business-plan-card-button {
    text-align: right;
    flex-grow: 1;
}

.business-plan-large-col a {
    padding: 12px 40px;
}


/* fine business plan */


/* trova un partner */


.find-a-partner {
    display: flex;
    align-items: flex-start;
}

#partner-img {
    width: 60%;
}

.find-a-partner-text {
    padding: var(--spaceL);
}

.find-a-partner-text > * {
    margin: var(--spaceS) var(--spaceXS);
}

.find-a-partner-text h3 {
    font-size: 24px;
}



.find-a-partner-text .btn {
    color: black;
    border: 1px solid black;
}


/* fine trova un partner */

/* Dropbox Business */

.dropbox-business-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -35px;
}

.dropbox-business-col {
    flex-basis: calc(100% / 3);
    padding: 0 var(--spaceM);
    margin-bottom: var(--spaceL);
}

.dropbox-business-img {
    max-width: 100%;
}

.dropbox-business-col h3 {
    font-size: 24px;
    margin-bottom: var(--spaceM);
}


/* fine Dropbox Business */


/* Find more */


.find-more a {
    color: blue;
    text-decoration: underline;
}


/* fine Find more */


/* Brand container */


.brand-container {
    display: flex;
    flex-wrap: wrap;
}

.brand-small-container {
    flex-basis: 33%;
}

.brand-big-container {
    flex-basis: 34%;
    background-color: #f5f5f5;
    padding: 50px;
}

.brand-row {
    display: flex;
    flex-wrap: wrap;
}

.brand-small-box {
    flex-basis: calc(100% / 2);
    padding: 0 15px;
    height: 313.98px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contenuto brand container */

.brand-img {
    width: 160px;
    filter: invert(100%) sepia(1%) saturate(7496%) hue-rotate(74deg) brightness(123%) contrast(119%);
}

#brand-big-container-img {
    width: 250px;
    margin-bottom: 50px;
}

.brand-big-container p  {
    margin-top: 50px;
}

.brand-larger-container {
   background-color: #b4d0e7; 
   flex-grow: 1;
   color: #61082b;
   
}

.brand-larger-container-content {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    padding: 120px 0;
}


.brand-larger-container-content h4 {
    font-size: 45px;
}

.brand-larger-container-content a {
    background-color: white;
    color: black;
    padding: 12px 40px;
}

/* box colorati */

#designit {
    background-color: #a2d39b;
}
#arizona-state {
    background-color: #61082b;
}
#university-of-florida {
    background-color: #0093ce;
}
#topps {
    background-color: #ff1c1c ;
}
#world-bycicle-relief {
    background-color: #d5001f;
}
#hearst {
    background-color: #b4d0e7;
}
#lonely-planet {
    background-color: #0d2481;
}
#clear-channel {
    background-color: #ffd830;
}


/* fine Brand container */


/* frequent question */


.frequent-question-dropdown-container > * {
    margin: var(--spaceL) 0;
}

.frequent-question-dropdown h4 {
    position: relative;
}

.frequent-question-dropdown i {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
}


/* fine frequent question */


/* footer */


footer {
    background-color: black;
    color: white;
}

.footer-list {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

footer ul {
    gap: 30px;
}

footer h4 {
    font-size: 24px;
    margin: 30px 0;
}

footer li {
    margin: 15px 0;
}

footer a {
    color: #fff7f7;
}

footer .separator {
    width: 10%;
}

.select-language {
    display: flex;
    gap: 10px;
    align-items: first baseline;
    padding: 50px 0;
    color: #fff7f79f;
}

.select-language i:nth-of-type(2) {
    align-self: flex-end;
}


/* fine footer */



